<launch>
  <!-- rosbag play -->
  <arg name="bag"/> 
  <param name="use_sim_time" value="true"/>
  <node pkg="rosbag" type="play" name="rosbag_play" args="--clock $(arg bag)"/>
  
  <!-- Velodyne VLP-16 -->
  <node pkg="velodyne_pointcloud" type="cloud_node" name="cloud_node">
    <param name="calibration" value="$(find loam_velodyne)/config/vlp16.yaml"/>
    <param name="min_range" value="0.4"/>
    <param name="max_range" value="130.0"/>
  </node>
  
</launch>
